.container {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    display: flex;
}
img {
    max-width: 100%;
}
.image {
    flex-basis: 14%;
}
.text {
    font-size: 20px;
}
nav {
    text-align: right;
    width: 50%;
    margin-top: 33px;
}
.inline-block { 
    display:inline-block;
    padding: 0px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inline-block a {
    color: blue;
}
.aboutMe {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 400px;
    width: 900px;
    margin: auto;
    text-align: left;
    padding: 12px;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
  }
  div h1 {
      font-size: 35px;
      padding: 15px;
  }
  h2 {
      font-size: 20px;
      padding-left: 15px;
  }
div p {
    padding-left: 15px;
    font-size: 20px;
}
